<html>

<head>
	<meta charset="utf-8">
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
		<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
			<div class="formbg-outer">
				<div class="formbg">
					<div class=" padding-horizontal--48">
						<span class="padding-bottom--15">Configuraciones</span>
						<form id="stripe-login" method="post">
							
								<div class="field padding-bottom--24">
									<label for="email">Tiempo Puerta General</label>
									<input type="number" name="num1" step="any" value="12">
								</div>

								<div class="field padding-bottom--24">
									<label for="password">Tiempo Puerta Especial</label>
									<input type="number" name="num2" step="any" value="12">
								</div>
								<div class=" padding-bottom--24">
									<button  class="custom-button-config"  name="operation" value="Setup" />Actualizar Parametros</button>
								</div>
							

							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="Activate" />Activar Logica</button>
							</div>

							<div class=" padding-bottom--24">
								<button  class="custom-button" type="submit" name="operation" value="Desactivate" />Desactivar Logica</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="TestSpecial" />Pase Especial</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="OpenTurnstile" />Abrir Puerta General</button>
							</div>

							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="BlockTurnstile" />Bloquear Puerta General</button>
							</div>

							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="ReadRs232" />Leer RS232</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="ReadSensor" />Leer Sensor</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="ReadFin" />Leer Fin Carrera</button>
							</div>
							
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="TestAudio" />Testear Audio</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="TestCerradura1" />Cerradura1</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="TestCerradura2" />Cerradura2</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="ActuadorOff" />Apagar Actuador</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="TestLuzLed" />LuzLed</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="ElectroImanOn" />Iman Activado</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="ElectroImanOff" />Iman Desactivado</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="TestearReles" />Testear Reles</button>
							</div>
							<div class=" padding-bottom--24">
								<button class="custom-button" type="submit" name="operation" value="generatePass" />Generar Pase</button>
							</div>
							
						</form>
						{% if result is not none %}
							<h2>Resultado: {{ result }}</h2>
						{% endif %}
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>